@tailwind base;
@tailwind components;
@tailwind utilities;

.contain.change .price>h2{
    background-color: #c02244;
}

.contain.change .card-top {
    background: #d35246;
    transition: ease-in-out 0.3s;
}

.contain.change .shoe-1 {
    transform: translateX(-50rem) rotateZ(45deg);
}

.contain.change .shoe-2 {
transform: translateX(-40rem) rotateZ(-45deg);
}

.size span:nth-child(3){
    background: #25d390;
    border-radius: 55%;
    padding: 5px 10px;
}